<!-- app/views/user_mailer/property_enquiry_email.html.erb -->
<p>Dear <%= @property_owner.name %>,</p>

<p>You have received a new enquiry for your property: <%= @property.name %>.</p>

<p>Message: <%= @message %></p>

<p>Best regards,</p>
<p>The Real Estate Team</p>
